/* ---------------- */
/* ✍️ Fonts */
/* ---------------- */
@font-face {
  font-family: "Readex-Pro-Regular";
  src: url("/fonts/ReadexPro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Readex-Pro-Medium";
  src: url("/fonts/ReadexPro-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* ---------------- */
/* 🖌️ Magic */
/* ---------------- */
body {
  font-family: "Readex-Pro-Regular", sans-serif;
}
